{% extends "base.html.jinja" %}
{% block content %}
    <!-- Header-->
    <header class="bg-dark py-5">
        <div class="container px-4 px-lg-5 my-5">
            <div class="text-center text-white">
                <h1 class="display-4 fw-bolder">Lista samochodów</h1>
                <p class="lead fw-normal text-white-50 mb-0">Tutaj znajdziesz listę samochodów</p>
            </div>
        </div>
    </header>
    <div class="container px-4 px-lg-5 mt-5"> 
    <section class="py-5">
    {% for category in categories %}
        <h3 class="text-center">{{category}}</h3>
        <div class="row row-cols-1 row-cols-md-3 g-4">
        {% for car in cars %}
            {% if car.category == category %}
            <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Product image-->
                            <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..." />
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">{{car.brand}} {{car.model}}</h5>
                                    <!-- Product price-->
                                    <p class="card-text">Silnik <span class="badge text-bg-primary rounded-pill">{{car.engine_type}}</span></p>
                                    <p class="card-text">Liczba osób <span class="badge text-bg-primary rounded-pill">{{car.seats_count}}</span></p>
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a href="#" class="btn btn-primary">Wypożycz</a></div>
                            </div>
                            <div class="card-footer text-body-secondary">
                        2 days ago
                    </div>
                        </div>
                    </div>
            {% endif %}
        {% endfor %}
    </div>
    {% endfor %}
    </div>
    <div class="container mb-3 mt-3">
        {{cars2 | safe}}
    </div>
    </section>
{% endblock content %}
{% block script %}
    <script>let table = new DataTable('#cars2');</script>
{% endblock script %}